body{
	background-color: rgb(51, 50, 50);
	margin: 0px;
}
.header .menubar{
	width: 100%;
	height: 100px;
	background-color: rgb(51,50,50);
	position: fixed;
}
.header .menubar .name{
	position: absolute;
	left: 120px;
	top: 15px;
	font-size: 30px;
	font-weight: bold;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	color:goldenrod;
}
.header .menubar img{
	width: 100px;
	height: 80px;
	margin: 10px;
	float: left;
}
	.header .menubar ul{
		display: inline-flex;
		list-style: none;
		float: right;
	}
	
	.header .menubar ul li{
		padding: 10px;
		margin-right: 40px;
		font-size: 35px;
		font-weight: bold;
		background-color: rgb(51,50,50);
	
	}
	
	
	.header .menubar ul li a{
		text-decoration: none;
		color: goldenrod;
	}
	
	.header .active, .header .menubar ul li:hover{
		text-decoration: underline;
		text-decoration-color: goldenrod;
		text-decoration-thickness: 5px;
		text-underline-offset: 5px;
	}
	

#square {
  height: 10px;
  width: 5000px;
  color:white ;
}
#backgroundimage {
	background-image: url('image/main.jpg');
  	background-repeat: no-repeat;
  	background-size: 100% 800px;

}
#backgroundimage_discription{
	width: 100%;
	height: 600px;
	margin-left:auto;
	margin-right:auto;
    background-color: rgb(13, 14, 15,0.6);
    overflow: hidden;


}
#line{
	width: 40%;
	margin-left: 40px;
	height: 1px;
	background-color: rgb(246, 214, 16) ;
	margin-top: 10px;
}
#backgroundimage_discription h1{
	margin-top: 400px; 
	color: rgb(246, 214, 16) ;
	margin-left:200px;
	font-family: Lucida Handwriting;
	font-size: 60px;

}
#backgroundimage_discription p{
	margin-top: 20px; 
	color: rgb(246, 214, 16) ;
	margin-left:200px;
	font-family: Lucida Handwriting;
	font-size: 20px;

}
#part_1{
	width: 100%;
	height: 600px;
	margin-left:auto;
	margin-right:auto;
   
    background-color: rgb(39, 33, 33,0.6);
    overflow: hidden;

}
#part_2{
	
	width: 100%;
	height: 500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 40px;
	padding-left: 45px;
	padding-right: 10px;
	

}
#part_2 h2{
	margin-top: 50px; 
	color: rgb(246, 214, 16) ;
	margin-left:200px;
	font-family:Garamond;
	font-size: 30px;
	margin-left: 100px;

}
#part_2_column1{
	background-color:rgb(249, 251, 252,0.9);

	text-align: center;
	height: 350px;
	font-weight: bold;
	color:black;
	width: 20%;
	margin-top: 100px;
	float: left;
	margin-left:40px;

}

#part_2_column1 p{

	color: black ;
	font-family:Monaco;
	font-size: 16px;
}
#part_2_column1_footer{
	width: 70%;
}
#button1{
	float: right;
	height: 50px;
	width: 10%;
	background-color: #E16428;
	text-align: center;
	margin-right: 200px;
	font-weight:bold;
	font-size: 18px;
	color:white;
	margin-top: 40px;
}
.button2{
	background-color: #E16428;
	text-align: center;
	padding: 10px;
	height: 50px;
	width: 35%;
	font-weight:bold;
	font-size: 16px;
	color:white;
	margin-top:-10px;
	border: none;
	float: right;
	margin-right: 20px;


}
.button2:hover{
	cursor: pointer;
}


.div2{
	width: 100px;
	height: 30px;
}
.plus{
	width: 10px;
	height: 30px;
	float: left;
}
.min{
	width: 10px;
	height: 30px;
	float: left;
}
.dis{
	width: 10px;
	height: 30px;
	float: left;
}
.idpart{
	height: 30px;
	margin-top: 15px;
	margin-left: 20px;
}

.divbtn{
	height: 40px;
	overflow: hidden;
}
.plus{
	width: 40px;
	height: 37px;
	float: left;
	margin-top: -1px;
	border-radius: 0 8px 8px 0;
	background-color: #E16428;
	border: none;
	
}
.min{
	width: 40px;
	height: 37px;
	float: left;
	border-radius: 8px 0 0 8px;
	margin-top: -1px;
	background-color: #E16428;
	border: none;
}
.dis{
	width: 30px;
	height: 35px;
	float: left;
	text-align: center;
	border: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart{
    display: none;
    width: 800px;
    float: left;
    text-align: center;
    height: auto;
    max-height: 65%;
    position: fixed;
    top: 110px;
    right: 0px;
    margin-right: 350px;
    background-color: #846633;
	padding: 20px;
	color: white;
}
th, td{
	width: 200px;
    text-align: center;
}

th{
	font-size: 20px;
}
.cart .two-btn #purchase{
    width: 210px;
	padding: 14px 20px;
    background-color: #3a1f08;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 20px 0px 0px 20px;
	cursor: pointer;
} 
.cart .two-btn #reset{
    width: 210px;
	padding: 14px 20px;
    background-color: #3a1f08;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
.cart .two-btn #exit{
    width: 210px;
	padding: 14px 20px;
    background-color: #3a1f08;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 0px 20px 20px 0px;
}